/*
    The Bearded Developer co.
    @author Brian Cowdery
*/

/* Ghost Icons
 -------------- */

@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.icon-ghost:before {
    content: "\e000";
}
.icon-feed:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}


/* Layout
 --------- */
html, body {
    height: 100%;
}
html * {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 450px;
    position: relative;
    background: transparent url('../img/cover.jpeg') center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    z-index: -10;
}
header .inner {
    padding-top: 40px;
    padding-bottom: 100px;
}
header .blog-title {
    height: 200px;
    text-align: center;
}
header .blog-logo {
    padding-top: 50px;
}
header .blog-description {
    width: 100%;
    position: absolute;
    bottom: 40px;
    color: #fff;
}

/* Typography
 ------------- */

h1, h2, h3, h4, h5 {
    font-family: 'Give You Glory', cursive;
}

.btn-outline {
    color: #fff;
    border-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 12px;
}

.coffee {
        font-size: 32px;
        color: #1f1f1f;
        text-align: center;
        margin: 20px auto;
}
.coffee a, .coffee i, .coffee span {
        display: inline-block;
}
.coffee i, .coffee span {
        position: relative;
        top: 10px;
        margin: 0 20px;
}
.coffee .math {
        font-weight: bold;
}

.signature {
    font-family: 'Reenie Beanie', cursive;
}


.ribbon {
    margin-left: -250px;
    width: 500px;
    position: absolute;
    left: 50%;
    font-size: 25px!important; /* size of ribbon ends */
    text-align: center;
    background: #fff url('../img/ricepaper2.png') center center;
    -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
       -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
            box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
}
.ribbon h1 {
    margin: 4px;
    padding: 3px;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    font-weight: 700;
    color: #333;
    text-shadow: 1px 1px 1px #80b1bc;
    border: 1px dashed #bbb;
}
.ribbon small {
    border-bottom: 1px solid;
    position: relative;
    top: -0.3em;
}
.ribbon:before, .ribbon:after {
    /* ribbon tails */
    content: '';
    display: block;
    position: absolute;
    bottom: -1em;
    border: 1.5em solid #f4f3f1;
    z-index: -1;
}
.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
       -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
            box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
       -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
            box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    /* ribbon shadow */
    content: '';
    display: block;
    position: absolute;
    bottom: -1em;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}


.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}
.poweredby .icon-ghost:hover {
    text-decoration: none;
}
.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

::-moz-selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}
::selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}


/* Third party services
 ----------------------- */

/* Github */

.gist table {
    margin: 0;
    font-size: 1.4rem;
}
.gist .line-number {
    min-width: 25px;
    font-size: 1.1rem;
}
